<a #routeListItem class="list-group-item list-group-item-action list-group-item-success">
  <b>
    <select #routeAction class="form-control form-control-inline code" (change)="onActionChange(routeAction.value)">
      <option [selected]="route.action === 'GET'">GET</option>
      <option [selected]="route.action === 'POST'">POST</option>
      <option [selected]="route.action === 'PUT'">PUT</option>
      <option [selected]="route.action === 'DELETE'">DELETE</option>
    </select>
  </b>
  <a class="code" data-toggle="collapse" [attr.href]="'#' + route.id + 'Content'">
    / {{route.name}}
  </a>

  <div class="float-right">

    <button class="margin-left" (click)="onMoveUp()">
        <i class="fas fa-arrow-up"></i>
    </button>

    <button class="margin-left" (click)="onMoveDown()">
        <i class="fas fa-arrow-down"></i>
    </button>

    <button class="margin-left" (click)="onDelete()">
      <i class="fas fa-trash"></i>
    </button>
  </div>

</a>

<div [id]="route.id + 'Content'" class="collapse">
  <app-api-route-details [api]="api" [route]="route"></app-api-route-details>
</div>
