.subtitle {
  margin-bottom: 30px;
  display: inline-block;
}

.margin-left {
  margin: 2px;
}

.form-control-inline {
  width: 15% !important;
  display: inline-block !important;
}

.code {
  font-size: 20px;
  font-family: monospace;
  color: black
}

.center {
  text-align: center;
}
